:root {
    --cor-principal: rgb(20, 29, 24);
    --cor-fundo: rgb(25,25,25);
    --cor-texto: rgb(226, 217, 164);
    --cor-texto-secundario: rgb(159,212,186);
    --cor-borda: rgb(9, 9, 8);
    --cor-especial: rgb(178, 183, 242);
    --fonte-padrao: 'Arial', sans-serif;
  }

a {
    color: var(--cor-texto-secundario);
}

.cor-secundaria {
  color: var(--cor-texto-secundario);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.destaque {
  color: var(--cor-especial);
  font-weight: 500;
}

.experiencias-lista {
  list-style-type: disc;
  padding-left: 1.5rem;
  line-height: 1.7;
  margin-top: 1rem;
  font-size: 1rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
}

body {
    background-color: rgb(6, 14, 17);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-y: scroll;
}

.cabecalho {
    width: 100%;
    height: 7%;
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
}

.cabecalho h1 {
    color: white;
    font-size: 2em;
    margin: 0;
}

.aspas {
    font-size: xx-large;
    color: var(--cor-especial);
}


.container {
    border-radius: 10px;
    
    border-top: 2px solid rgb(80, 98, 86);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin-top: 8%;
    display: flex;
    background-color: var(--cor-principal);
    padding: 40px;
    
    width: 80%;
    max-width: 1000px;
    flex-direction: column;
}

.frase {
    color: var(--cor-texto);
    padding: 2%;
    padding-bottom: 1%;
    background-color: var(--cor-fundo);
    text-align: center;
    align-items: center;
    border: 3px solid;
    border-color: rgb(60, 184, 134);
}

.frase p{
    color: var(--cor-texto-secundario);
}






