<div id="p-logo">
    <a href="index.html" style="text-decoration:none">
        <span class="wiki-logo-text">Donk<br>Wiki</span>
    </a>
</div>

<div class="portal" id="p-navigation">
    <h3 data-i18n="nav_title_navigation">Navigation</h3>
    <div class="body">
        <ul>
            <li><a href="index.html#top" data-i18n="nav_main_page">Main Page</a></li>
            <li><a href="index.html#Experiências" data-i18n="nav_experiences">Experiences</a></li>
            <li><a href="index.html#portfolio" data-i18n="nav_portfolio">Portfolio</a></li>
        </ul>
    </div>
</div>

<div class="portal" id="p-profile">
    <h3 data-i18n="nav_title_profile">Profile</h3>
    <div class="body">
        <ul>
            <li><a href="index.html#linguagens" data-i18n="nav_languages">Languages</a></li>
            <li><a href="index.html#materias" data-i18n="nav_courses">Courses</a></li>
            <li><a href="index.html#trivia" data-i18n="nav_trivia">Trivia</a></li>
        </ul>
    </div>
</div>

<div class="portal" id="p-contact">
    <h3 data-i18n="nav_title_contact">Contact</h3>
    <div class="body">
        <ul>
            <li><a href="https://github.com/Donklii" target="_blank">GitHub</a></li>
            <li><a href="mailto:donklii13@gmail.com">Email</a></li>
            <li><a href="https://twitter.com/Donklii" target="_blank">@Donklii</a></li>
        </ul>
    </div>
</div>
